
.btn-reset {
  font-size: 2rem;
  background-color: #bbb;
  color: aqua;
}
.container {
  display: flex;
  align-content: center;
}
.monster-text {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1rem;
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

/* OTHER STYLES */

* {
  box-sizing: border-box;
}

/* html,
body,
#app,
root,
#app > div {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(top, #222, #333);
} */


[class$='face'] {
  margin: 16px;
  padding: 4px;

  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;

  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;

  border-radius: 10%;
}

.pip {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;

  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

@media (width <= 1000px) {

  [class$='face'] {
    margin: 8px;
    padding: 2px;
  
    background-color: #e7e7e7;
    width: 52px;
    height: 52px;
    object-fit: contain;
  
    box-shadow: inset 0 2.5px white, inset 0 -2.5px #bbb, inset 2.5px 0 #d7d7d7,
      inset -2.5px 0 #d7d7d7;
  
    border-radius: 10%;
  }
  
  .pip {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px;
  
    background-color: #333;
    box-shadow: inset 0 1.5px #111, inset 0 -1.5px #555;
  }
  .btn-reset {
    width: 100%;
  }
  .monster-text {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
